$text-color-primary: #650300;
$text-color-secondary: #fff;
$text-color-Tertiary: #aa0601;
$text-color-default: #000000;
$footer-bg-color: #aa0601;
$bg-color-primary: #fff;
$bg-color-secondary: #fbf2f2;
$btn-color-primary: #aa0601;
$btnHover-color-primary: #580603;
$text-hover-color-primary: #ffeaa7;
$square-color-primary: #5f3e2d;
$square-color-secondary: #b75929;
$border-color-primary: #fff;
$border-color-secondary: #dee2e6;
$shadow-color-primary: #00000029;
